@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:blue" class="display-4"><b>Welcome</b> </h1>

<br />
<p style="color:green">Please Signup Yourself! </p>

    <p>
        CRUD is an acronym for Create, Read, Update, and Delete, which are the four basic operations for managing persistent data elements in databases:
        Create: Adds new records to the database
        Read: Retrieves data from the database
        Update: Modifies existing records in the database
        Delete: Removes existing records from the database

        CRUD can also refer to user interface conventions for viewing, searching, and changing information using computer-based forms and reports.

       
        Thunkable
        Show all
    </p>
</div>
